/* 전체 배경 */
.body {
    background-color: #000000dc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    min-height: 100vh; /* 화면 전체 높이 설정 */
}

/* 컨테이너 스타일 */
.container1 {
    width: 760px;
    padding: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* 이미지 스타일 */
.container1 img {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* 제목 스타일 */
.h1 {
    font-size: 25px;
    font-weight: bold;
}

/* 입력 필드 */
.formControl {
    height: 40px;
    width: 80%;
    margin-bottom: 20px; /* 입력 필드 아래 간격 추가 */
    padding: 0 15px;
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
    
}

.formCenter{
    width: 80%;
}


.formControl:focus {
    border-color: #007bff;
    outline: none;
    background-color: #333;
}


/* 버튼 */
.btnJoin {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.btnJoin:hover {
    background-color: #444;
    color: white;
}

.inputtags{
    margin-left: 180px;
    margin-bottom: 50px;
}

/* 라벨 */
.label {
    width: 200px;
    display: block;
    margin-bottom: 30px; /* 레이블과 입력란 사이에 간격을 추가 */
    margin-top: 10px;
  }

