/* Global styles */
.osw * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.osw html, .osw body {
    height: 100%;
}

.osw .fullBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0; /* 마진 제거 */
}

.osw .main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 55px;
}

.osw .content1, .osw .content2, .osw .content3 {
    height: 100%;
}

.osw .content1 {
    background-color: #252323;
    width: 20%;
}

.osw .content2 {
    background-color: #2c2828;
    width: 60%;
}

.osw .content3 {
    background-color: #252323;
    width: 20%;
}

.osw .text {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
}

.osw .attendance-table {
    margin: 0 auto;
    color: aliceblue;
    text-align: center;
    margin-top: -60px;
}

.osw th {
    padding: 50px;
}

.osw td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.osw .text-rank {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 50px;
}

.osw .containerbox {
    margin: 50px 10px;
    height: 100px;
    background-color: #363535;
    border-radius: 15px;
}

.osw .pageNav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.osw .table-container {
    position: relative;
}

.osw .button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.osw .load-more-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5351ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 80px;
}

.osw .load-more-btn:hover {
    background-color: #3b38df;
    transform: scale(1.05);
}

.osw .footer {
    position: relative;
    width: 100%;
}

.osw .btn-primary {
    padding: 10px 20px;
    margin: 100px 0;
    font-size: 16px;
    color: #fff;
    background-color: #344250;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 100px;
}

.osw .btn-primary2 {
    padding: 10px 20px;
    margin: 100px 0;
    font-size: 16px;
    color: #fff;
    background-color: #344250;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 60px;
}

.osw .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.osw .attendance-table {
    margin-bottom: 40px; /* 푸터와 테이블 사이의 간격 */
}

.osw .footer {
    padding-top: 20px;
}

.osw .text {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px; /* 출석 랭킹과 테이블 사이의 간격 */
}

.osw .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.osw .btn-primary2:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.osw .attendance-table {
    margin-bottom: 40px; /* 푸터와 테이블 사이의 간격 */
}

.osw .footer {
    padding-top: 20px;
}

.osw .text {
    display: flex;
    justify-content: center; /* 출석 랭킹 글씨를 가운데로 정렬 */
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px; /* 출석 랭킹과 테이블 사이의 간격 */
}

.osw .highlight {
    background-color: #ff0; /* 하이라이트 배경색 */
    animation: fadeOut 2s forwards; /* 페이드 아웃 애니메이션 */
}

.osw .ranking-icon {
    width: 50px;
    height: 50px;
}

@keyframes osw-fadeOut {
    from {
        background-color: #ff0;
    }
    to {
        background-color: transparent;
    }
}