.oswTicketBuyList html, .oswTicketBuyList body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.oswTicketBuyList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.oswTicketBuyList .container1 {
    flex: 1;
}

.oswTicketBuyList footer {
    margin: 0;
    padding: 0;
}

.oswTicketBuyList {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.oswTicketBuyList .container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #302c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.oswTicketBuyList .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswTicketBuyList .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.oswTicketBuyList .button-group button:hover {
    background-color: #81d4fa;
}

.oswTicketBuyList .osw .button-group .osw .active {
    background-color: #7e57c2;
    color: rgb(0, 0, 0);
}

.oswTicketBuyList .osw .wrapper {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oswTicketBuyList h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.oswTicketBuyList hr {
    border-top: 1px solid #fff;
    margin-bottom: 30px;
}

.oswTicketBuyList body {
    background-color: #e9ecef;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.oswTicketBuyList .main-text1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
}

.oswTicketBuyList .wrapper {
    width: 900px;
    max-width: 900px;
    margin: 50px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}

.oswTicketBuyList .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswTicketBuyList .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.edit-button {
    padding: 20 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    float: right;
}
.edit-button:hover {
    font-size: 20px; /* 글자 크기 증가 */
    font-weight: bold; /* 글씨 두껍게 */
}

.oswTicketBuyList .button-group button:hover {
    background-color: #81d4fa;
}

.oswTicketBuyList .button-group .active {
    background-color: #7e57c2;
    color: rgb(255, 255, 255);
}

.oswTicketBuyList .info-table {
    border-radius: 3px;
    overflow: hidden;
    width: 700px;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
    color: #0a0a0a;
    margin-left: 650px;
}

.oswTicketBuyList .info-table th, .oswTicketBuyList .info-table td {
    padding: 20px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.oswTicketBuyList .info-table th {
    background-color: #9FD0D5;
    color: #fff;
    width: 30%;
}

.oswTicketBuyList .info-table td {
    background-color: #f8f9fa;
    width: 70%;
    text-align: left !important;
}

.oswTicketBuyList .info-table tr:nth-child(even) td {
    background-color: #e9ecef;
}

.oswTicketBuyList .edit-button {
    padding: 20 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

.oswTicketBuyList .edit-button:hover {
    font-size: 20px;
    font-weight: bold;
}

.oswTicketBuyList .main-text {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
}

.oswTicketBuyList button, .oswTicketBuyList .edit-button, .oswTicketBuyList .password-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.oswTicketBuyList button {
    color: #000000;
    background-color: #9FD0D5;
    margin-right: 10px;
}

.oswTicketBuyList button:hover {
    background-color: #81d4fa;
    color: #ffffff;
}

.oswTicketBuyList .password-button {
    color: #333;
    background-color: #9FD0D5;
    text-decoration: none;
}

.oswTicketBuyList .password-button:hover {
    background-color: #81d4fa;
    color: #000;
}

.oswTicketBuyList button.delete {
    background-color: #d32f2f;
}

.oswTicketBuyList button.delete:hover {
    background-color: #b71c1c;
}

.oswTicketBuyList .button-tr button {
    border-radius: 8px;
}

.oswTicketBuyList .input-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #cccfd1;
    border: 1px solid #354b61;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.oswTicketBuyList .input-icon {
    color: #7e57c2;
    margin-right: 10px;
    font-size: 16px;
}

.oswTicketBuyList .styled-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #333;
    padding: 5px;
}

.oswTicketBuyList .styled-input:focus {
    border-bottom: 2px solid #7e57c2;
}

.oswTicketBuyList .input-container:hover {
    box-shadow: 0 0 8px rgba(126, 87, 194, 0.6);
}

.oswTicketBuyList .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswTicketBuyList .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin: 0;
}
