.osw html, .osw body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.oswUser {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.oswUser .container1 {
    margin-left: 100px;
}

.osw footer {
    margin: 0;
    padding: 0;
}

.oswUser .button-group {
    display: flex;
    margin-left: 470px;
    gap: 20px; /* 버튼 간의 간격 조정 */
    margin-bottom: 30px;
}

.oswUser .button-group button {
    padding: 20px 40px; /* 버튼의 내부 여백 조정 (크기 증가) */
    font-size: 18px; /* 버튼 글자 크기 증가 */
    width: 200px; /* 버튼의 가로 크기 고정 */
    height: 60px; /* 버튼의 세로 크기 고정 */
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.oswUser .button-group button:hover {
    background-color: #81d4fa; /* 호버 시 버튼 색상 */
}

.oswUser .button-group .active {
    background-color: #aac5b0; /* 활성화된 버튼 색상 */
    color: #fff; /* 활성화된 버튼 글자 색상 */
}



.oswUser {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.oswUser .container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #302c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.oswUser .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswUser .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.oswUser .button-group button:hover {
    background-color: #81d4fa;
}

.oswUser .osw .button-group .osw .active {
    background-color: #7e57c2;
    color: rgb(0, 0, 0);
}

.oswUser .osw .wrapper {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oswUser h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.oswUser hr {
    border-top: 1px solid #fff;
    margin-bottom: 30px;
}

.oswUser body {
    background-color: #e9ecef;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.oswUser .main-text1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
}

.oswUser .wrapper {
    width: 900px;
    max-width: 900px;
    margin: 50px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}

.oswUser .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswUser .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}


.oswUser .button-group button:hover {
    background-color: #81d4fa;
}

.oswUser .button-group .active {
    background-color: #9FD0D5;
    color: rgb(0, 0, 0);
}



.oswUser .info-table {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
    color: #0a0a0a;
}

.oswUser .info-table th, .oswUser .info-table td {
    padding: 20px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.oswUser .info-table th {
    background-color: #9FD0D5;
    color: #fff;
    width: 30%;
}

.oswUser .info-table td {
    background-color: #f8f9fa;
    width: 70%;
    text-align: left !important;
}

.oswUser .info-table tr:nth-child(even) td {
    background-color: #e9ecef;
}

.oswUser .edit-button {
    padding: 20 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

.oswUser .edit-button:hover {
    font-size: 20px;
    font-weight: bold;
}

.oswUser .main-text {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
}

.oswUser button, .oswUser .edit-button, .oswUser .password-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.oswUser button {
    color: #000000;
    background-color: #9FD0D5;
    margin-right: 10px;
}

.oswUser button:hover {
    background-color: #81d4fa;
    color: #ffffff;
}

.oswUser .password-button {
    color: #333;
    background-color: #9FD0D5;
    text-decoration: none;
}

.oswUser .password-button:hover {
    background-color: #81d4fa;
    color: #000;
}

.oswUser button.delete {
    background-color: #d32f2f;
}

.oswUser button.delete:hover {
    background-color: #b71c1c;
}

.oswUser .button-tr button {
    border-radius: 8px;
}

.oswUser .input-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #294158;
    border: 1px solid #354b61;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.oswUser .input-icon {
    color: #7e57c2;
    margin-right: 10px;
    font-size: 16px;
}

.oswUser .styled-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #333;
    padding: 5px;
}

.oswUser .styled-input:focus {
    border-bottom: 2px solid #7e57c2;
}

.oswUser .input-container:hover {
    box-shadow: 0 0 8px rgba(126, 87, 194, 0.6);
}

.oswUser .button-group {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.oswUser .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin: 0;
}
