.user-update {
    background-color: #e9ecef;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.user-update h2{
    font-weight: bold;
    font-size: 30px;
}
.user-update * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

.user-update .container {
    margin: auto;
    width: 1440px;
    height: 935px;
    display: flex;
}

.user-update .inner {
    width: 1100px;
    height: 900px;
    background-color: #E7ECEF;
    border-radius: 5%;
}

.user-update .main {
    width: 1160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
    flex-shrink: 0;
}

.user-update .inner .title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-update .form-wrapper {
    max-width: 900px;
    margin: 50px auto;
    background-color: #302c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.user-update .button-group {
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 30px;
}

.user-update .form-container {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.user-update .button-group button {
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #9FD0D5;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.user-update .button-group button:hover {
    background-color: #81d4fa;
}

.user-update .button-group .active {
    background-color: #7e57c2;
    color: rgb(0, 0, 0);
}

.user-update .info-table {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
    color: #0a0a0a;
}

.user-update .info-table th, .user-update .info-table td {
    padding: 20px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.user-update .info-table th {
    background-color: #9FD0D5;
    color: #000000;
    font-weight: bold;
    width: 30%;
}

.user-update .info-table td {
    background-color: #f8f9fa;
    width: 70%;
}

.user-update .info-table tr:nth-child(even) td {
    background-color: #e9ecef;
}

.user-update .edit-button, .user-update .action-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.user-update .edit-button:hover, .user-update .action-button:hover {
    background-color: #81d4fa;
    color: #0a0a0a;
}

.user-update .main-text {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
}

.user-update input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
