@charset "UTF-8";

.adminTrainerList * {
    border: none;
    box-sizing: border-box;
    font: inherit;
}

.adminTrainerList .container {
    margin: auto;
    width: 1440px;
    height: 935px;
    display: flex;
}

.adminTrainerList .main {
    width: 1160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
    flex-shrink: 0;
}

.adminTrainerList .inner {
    width: 1100px;
    height: 900px;
    background-color: #E7ECEF;
    border-radius: 5%;
}

.adminTrainerList .inner .title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminTrainerList .mainTitle {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 1.2em;
}

.adminTrainerList .searchContainer {
    display: flex;
    justify-content: center;
}

.adminTrainerList .search {
    width: 1000px;
    height: 30px;
    display: flex;
    justify-content: end;
}

.adminTrainerList .search input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.adminTrainerList .button {
    width: 82px;
    height: 30px;
    padding: 0px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
}

.adminTrainerList .button:hover {
    background-color: #005f73;
}

.adminTrainerList .list {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 550px; 
    padding: 0 50px;
}

.adminTrainerList .paging {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.adminTrainerList .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.adminTrainerList .pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #008CBA;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); 
}

.adminTrainerList .pagination a:hover {
    background-color: #005f73;
    color: white;
}

.adminTrainerList .pagination a.active {
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
    pointer-events: none;
}

.adminTrainerList .updateBtn,
.adminTrainerList .deleteBtn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.adminTrainerList .updateBtn {
    background-color: #7c92c0;
}

.adminTrainerList .deleteBtn {
    background-color: #e46262;
}

.adminTrainerList .updateBtn:hover,
.adminTrainerList .deleteBtn:hover {
    filter: brightness(90%);
}

.adminTrainerList .delete {
    width: 100%;
    padding: 33px;
    text-align: right;
}

.adminTrainerList .card-img-top {
    width : 238px;
    height: 238px;
}

.adminTrainerList .trainerForm {
    width: 1100px;
    height: 650px;
    overflow-y: auto;
    margin: auto;
}

.adminTrainerList .cardBody {
    font-weight: bold;
}

.adminTrainerList .card {
    overflow: hidden;
    border: 1px solid #979797;
}

.adminTrainerList .cardFooter {
    background-color: #ebebeb;
}