@charset "UTF-8";

.ticketList * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

.ticketList .container {
    margin: auto;
    width: 1440px;
    height: 935px;
    display: flex;
}

.ticketList .mainTitle {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 1.2em;
}

.ticketList .searchContainer {
    display: flex;
    justify-content: center;
}

.ticketList .search {
    width: 1000px;
    height: 30px;
    display: flex;
    justify-content: end;
}

.ticketList .search input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.ticketList .search button {
    padding: 0px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
}

.ticketList .search button:hover {
    background-color: #005f73;
}

.ticketList .list {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 550px; 
    padding: 0 50px;
}

.ticketList .paging {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ticketList .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ticketList .pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #008CBA;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); 
}

.ticketList .pagination a:hover {
    background-color: #005f73;
    color: white;
}

.ticketList .pagination a.active {
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
    pointer-events: none;
}

.ticketList .updateBtn,
.ticketList .deleteBtn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.ticketList .updateBtn {
    background-color: #7c92c0;
}

.ticketList .deleteBtn {
    background-color: #e46262;
}

.ticketList .updateBtn:hover,
.ticketList .deleteBtn:hover {
    filter: brightness(90%);
}

.ticketList .ticket {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.ticketList .ticketContent {
    width: 320px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.ticketList .checkbox {
    width: 105px;
    text-align: center;
}

.ticketList .ticket .items {
    width: 100%;
    height: 500px; 
    overflow-y: auto;
}

.ticketList .ticket .ticketItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbb;
    width: 100%;
    height: 100px;
}

.ticketList .ticketName,
.ticketList .ticketPrice {
    font-weight: bold;
    font-size: 16px;
}

.ticketList .ticketInfo {
    font-size: 15px;
    color: #5a5a5afb;
}

.ticketList input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #06ac00;
}

.ticketList .ticket label {
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.ticketList .normal {
    background-color: #0DB4D4;
}

.ticketList .pt {
    background-color: #E74A4A;
}

.ticketList .delete {
    width: 100%;
    padding: 33px;
    text-align: right;
}

.ticketList form {
    width: 502.5px;
}
