.ticketForm * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

.ticketForm .container {
    margin: auto;
    width: 1440px;
    height: 935px;
    display: flex;
}

.ticketForm .mainTitle {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 1.2em;
}

.ticketForm .form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.ticketForm .formInner {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 760px;
    background-color: #ffffff;
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.ticketForm .file-upload {
    padding: 30px;
}

.ticketForm .file-upload-box {
    width: 278px;
    height: 250px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.ticketForm .file-upload-box .insertImg,
.ticketForm .file-upload-box .updateImg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ticketForm .file-upload-box .insertImg {
    display: none;
}

.ticketForm .file-upload-box span {
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
}

.ticketForm .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.ticketForm .table {
    width: 100%;
    height: 100%;
}

.ticketForm .tr {
    width: 100%;
    padding: 0 50px;
}

.ticketForm td input,
.ticketForm .textarea {
    width: 300px;
    padding: 5px 10px; /* 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 둥근 테두리 */
    font-size: 16px; /* 글꼴 크기 */
}

.ticketForm .td {
    width: 300px;
    text-align: left;
    padding: 0 50px;
}

.ticketForm .textarea {
    height: 120px; /* 높이 */
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
    resize: none; /* 크기 조정 비활성화 */
}

.ticketForm .button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #81cf7a;
    color: #fff;
    cursor: pointer;
}

.ticketForm .button:hover {
    filter: brightness(90%);
}

.ticketForm .buttonTd {
    width: 100%;
    text-align: right;
}

.ticketForm .select {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 10px;
}

.ticketForm .ticketItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    width: 100%;
    height: 100px;
}

.ticketForm .ticketContent {
    width: 320px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticketForm .ticketName,
.ticketForm .ticketInfo,
.ticketForm .ticketPrice {
    font-size: 16px;
    font-weight: bold;
}

.ticketForm .ticketInfo {
    color: #5a5a5afb;
    font-size: 15px;
}

.ticketForm .checkbox {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketForm .checkbox input[type="checkbox"],
.ticketForm .input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.ticketForm .ptCountRow {
    display: none;
    align-items: center;
    flex: 1; /* 플렉스 컨테이너 내에서 차지할 공간 설정 */
    gap: 10px; /* 적절한 간격 추가 */
}

.ticketForm .customMonth {
    display: none;
    width: 100px;
    font-size: 14px;
}

.ticketForm .preview {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticketForm .inner {
    width: 1100px;
    height: 900px;
    background-color: #E7ECEF;
    border-radius: 5%;
}
.ticketForm .inner .title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
